<div>
  <h1>Forgot Password</h1>
  <form asp-action="RequestPasswordChange" method="post">
    <label>Email</label>
    <input type="text" name="email" id="email" />
    <button type="submit">Send Email</button>
  </form>
</div>