@model ForgotPasswordDto

<div>
  <h1>Reset Password</h1>
  <form action="/Account/password-change?uid=@Model" method="post">
    <label>New Password</label>
    <input asp-for="Password" type="password" />
    <label>Confirm New Password</label>
    <input asp-for="ConfirmPassword" type="password" />
    <input asp-for="UserToken" value='@ViewData["Uid"]' hidden/>
    <button type="submit">Reset Password</button>
  </form>
</div>